.signup-wrapper {
    padding-bottom: 20px;
}

.input-style-1 input, .c-button {
    border-radius: 5px;
}

.f-login-content {
    padding: 30px 100px;
}

/*Detail page design*/

.features-box {
    background: #f1f1f1;
}

.features-box .car-i img {
    width: 40px;
}

.features-box .car-i {
    color: #000000;
}

.additional-images {
    max-height: 100px;
    height: 100px;
    overflow: hidden;
}

.simple-tab .nav-tab {
    text-align: left;
}

.detail-content ul {
    width: 100%;
    padding-left: 0;
    list-style-type: none;
    color: #000000 !important;
}

.detail-content ul {
    color: #000000 !important;
}

.detail-content, .acc-body {
    color: #000000 !important;
}

#book-tour-form .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;

    float: left;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    color: red;
    font-size: 10px;
}

.book-now-btn {
    width: 100%;
    margin-top: 30px;
}

.check {
    color: #fff !important;
    background: #ff6600 !important;
    border: none;
}

.addons-boxes .addon-box {
    float: left;
    width: 100px;
    margin: 1px;
}

.addon-box .title {
    padding: 0px;
    text-align: center;
    text-transform: capitalize;
}

.addon-box img {
    max-height: 50px;
    height: 50px;
    overflow: hidden;
}

/*End of details page*/

/*Cart Page*/
.cart-image {
    margin-right: 10px;
    padding: 0px;
}

/*End of Cart page*/

.list-content .table-view {
    float: none;
    display: table;
    margin-right: -15px;
    margin-left: -15px;
    width: auto;
}

.radius-top.cell-view img {
    height: 280px;
}

.img-full {
    max-height: 400px;
}

#colorstar {
    color: #ee8b2d;
}

.badForm {
    color: #FF0000;
}

.goodForm {
    color: #00FF00;
}

.alert {
    z-index: 999;
    position: absolute;
    color: #000000;
}

#search_booking {
    position: initial;
    left: 0;
    bottom: -100px;
    background: #f1f1f1;
    width: 100%;
    padding: 30px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    border-radius: 0px;
}

#search_booking input {
    border: 1px solid #ddd;
    border-radius: 0px;
}

#booking-page-content {
    position: initial;
    left: 0;
    bottom: -100px;
    width: 100%;
    padding: 30px;
    background: #f1f1f1;
    margin-bottom: 25px;
    border: 1px solid #ddd;
}

.title.hotel-middle h4 {
    color: #5381BA;
    font-size: 18px;
}

.title.hotel-middle h5 {
    font-size: 16px;
    font-weight: 600;
}

.list-content .hotel-item.style-8 .rate-wrap {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.list-content .hotel-item {
    border-bottom: 1px solid #ddd;
}

#booking-pricing-column {
    background: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 15%;
}

#booking-calender {
    background: none;
    width: 20%;
}

.BookingPrice #booking-price {
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    color: #90cc90;
    clear: both;
    display: block;
}

.BookingPrice {
    color: #777;
    font-family: "Open Sans";
    font-size: 14px;
    clear: both;
    text-align: center;
    line-height: 35px;
}

.btn-block {
    display: block;
    width: 100%;
    margin-top: 12px;
    padding: 15px 20px;
    border-radius: 0px;
}

.booking-header {
    margin-bottom: 0px;
}

.hotel-item {
    box-shadow: none;
}

.booking-search-caption-inner {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 24px;
}

#booking-breadcrumb {
    text-align: center;
}

.booking-breadcrumb {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#booking-breadcrumb .breadcrumb-item.active {
    background: #5381BA;
    color: #fff;
}

#booking-breadcrumb .breadcrumb-item.done {
    background: #506f9e;
    color: #fff;
}

#booking-breadcrumb .breadcrumb-item {
    background: #e8e8e8;
}

#booking-breadcrumb .breadcrumb-item {
    padding: 20px;
}

#booking-breadcrumb span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
}

#booking-breadcrumb .breadcrumb-item.done {
    background: #506f9e;
    color: #fff;
}

/**======================================================**/
.booking-result {
    margin: 30px 0px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.img-container.md {
    height: 245px;
    overflow: hidden;
    position: relative;
}

.img-container, .hb-calendar:not(.loaded) {
    background: rgba(0, 0, 0, 0) url(../images/loading.gif) no-repeat scroll center center;
}

.img-container {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.img-container {
    display: block;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.img-container img {
    position: absolute;
    width: auto;
    height: 245px;
    top: 0px;
    left: -52.25px;
}

.booking-description {
    font-size: 14px;
    font-weight: 400;
}

.booking-description h3 {
    color: #5381BA;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    margin-top: 0;
    line-height: 1.42857143;
    letter-spacing: 1px;

}

.booking-desc-img {
    padding: 0px;
}

.text-muted {
    color: #777;
    font-size: 14px;
    padding: 8px 0px;
}

.slide-preview {
    max-height: 100px;
    overflow: hidden;
}

.slide-preview img {
    width: 140px;
    height: 100px;
}

.item-block img {
    max-height: 400px;
    height: 400px;
    overflow: hidden;
}

.text-primary {
    color: #428bca;
}

.form-group.activity-data {
    margin-top: 20px;
}

.input-group.input-group-sm {
    margin-top: 10px;
}

.btn {
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.btn-primary {
    background: none;
    border-color: #5381BA;
    color: #5381BA;
}

.btn {
    line-height: 2;
}

.btn:hover *, .btn {
    transition: none;
}

.booking-result .booking-price span {
    color: #90cc90;
}

.booking-price span {
    font-weight: 600;
    font-size: 26px;
}

.activity-data {
    visibility: hidden;
}

.read-more {
    padding: 10px;
    margin: 20px 1px;
}

/** Check box **/
.checkbox-icon {
    border: 2px solid #5381BA;
}

.activity-result .checkbox-icon:before {
    color: #fff;
}

.activity-result.active .checkbox-icon:before {
    color: #5381BA;
}

.checkbox-container {
    width: 31px;
    height: 31px;
    margin: 10px auto;
}

.checkbox-icon {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    font-weight: normal;
    height: 31px;
    margin: 0;
    padding: 3px;
    width: 31px;
}

.activity-result .checkbox-icon:before {
    content: "";
    display: block;
    font-family: "inherit";
    font-size: 22px;
    height: 100%;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    color: #5381BA;
}

.activity-result.active .checkbox-icon:before {
    color: #5381BA;
}

input[type='checkbox']:checked + .checkbox-icon:before {
    content: "\2022";
    display: block;
    font-family: "inherit";
    font-size: 30px;
    height: 100%;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    color: #5381BA;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group-sm select.form-control, .input-group-sm .input-group-addon {
    padding: 5px 6px;
}

.input-group-sm select.form-control, .input-group-sm .input-group-addon {
    padding: 5px 6px;
}

/** Media Query handling **/
@media (min-width: 768px) {
    .activity-result .sep {
        display: table;
    }

    .booking-result > .sep {
        height: 245px;
        border-left: 1px solid #ddd;
    }

    .checkbox-container {
        display: table-cell;
        vertical-align: middle;
    }
}

.custom-table-class {
    border: 1px solid #b9b9b9 !important;
}

.font-bold {
    font-weight: bold;
}

/** **/

.boxed {
    background: #f1f1f1;
    border: 1px solid #ddd;
    padding: 20px;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.booking-search {
    padding: 0 8px;
}

.booking-search [class^="col-"] {
    padding-left: 8px;
    padding-right: 8px;
}

.tour-check.btn-primary:hover {
    background-color: #5381BA;
    border-color: #5381BA;
    color: #fff;
}

.search-form-input {
    height: 45px;
}

.btn-block {
    display: block;
    width: 100%;
    margin-top: 0px;
    padding: 6px 20px;
    border-radius: 0px;
}

.form-block.type-2.clearfix p {
    font-size: 12px;
}

.drop-wrap.color-5 {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding-left: 20px;
    border-radius: 5px;
}

.second-title {
    padding-top: 60px;
    padding-bottom: 30px;
}

.main-wraper {
    margin-bottom: 45px;
}

.tariff-content {
    background: #F9F9F9;
    margin-bottom: 10px;
    padding-bottom: 10px !important;
    border: 1px solid #a3a3a3;
}

.tariff-header {
    background: #3A3A3A !important;
}

.active-tariff .tariff-header {
    background: #5d9cec !important;
}

.active-tariff .tariff-content {
    background: #5d9cec !important;
}

.active-tariff .tariff-price {
    color: #fff;
}

.tariff {
    cursor: pointer;
}

.active-tariff .badge {
    position: absolute;
    left: 15px;
    top: 0px;
    /*padding: 25px 35px;*/
    padding: 5px;
    border-radius: 0px;
    font-size: 24px;
    background: transparent;
}

.accordion.style-5 .acc-title.active .acc-icon {
    background: #fff;
    border-radius: 0px;
}

.right-sidebar {
    margin-bottom: 20px;
}

.order-summry-title {
    padding: 22px 0px;
    font-size: 16px;
    font-weight: 600;
}

ul.order-summry li {
    font-weight: 400;
    display: inline-block;
    padding: 5px 30px;
    font-style: normal;
    border-right: 1px #ddd dotted;
    text-align: center;
}

ul.order-summry li p {
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
}

ul.order-summry li:first {
    padding-left: 0px !important;
}

ul.order-summry li:last {
    border-right: none !important;;
}

.margin-20-bottom {
    margin-bottom: 20px !important;
}

.margin-20-top {
    margin-top: 20px !important;
}

.large-title {
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 400;
    margin: 15px 0px;
}

.table-heading {
    background: #ddd;
    color: #000;
}

.table-heading td {
    background: #ddd;
    color: #000;
}

.item {
    text-transform: capitalize;
}

.newaddress {
    display: none;
}

.detail-price {
    padding-top: 0;
}

#booking-tabs .simple-tab.tab-3 .nav-tab-item {
    display: block;
    float: left;
    width: 18.333333%;
    padding: 0px 5px;
    text-align: center;
}

/*Custom for cart Icon*/
.top-header-block.custom-cartfix {
    margin-top: 20px;
}

@media only screen and (max-width: 992px) {
    .top-header-block.custom-cartfix {
        margin-top: 0px;
    }
}

/* End of Custom Cart Icon */

.tour-details-card {
    background: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.tour-details-card .btn {
    margin-left: 10px;
    padding: 0 7px;
}

.tour-details-card .title {
    padding: 15px 10px 0px 10px;
}

.tour-details-card-icon {
    margin: 0 !important;
    width: 200px;
    float: left;
    height: 150px;
    padding: 3px;

}

.tour-details-card .tour-info {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-top: 10px;
    clear: both;
}

.help-contact .help-phone {
    margin-bottom: 15px;
}

.help-contact h4 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.booking-short-desc p {
    line-height: 32px;
}

.addons-list {
    border-top: 1px solid #ddd;
    padding-top: 5px;
}

.tour-details-card .hotel-person.color-dark-2 {
    font-size: 12px;
    line-height: 24px;
}

.tour-details-card .addons-desc {
    font-size: 10px;
    line-height: 18px;
}

.tour-details-card #booking-info-table > tbody > tr > td {
    padding: 5px !important;
}

#user-dashboard-menu a {
    padding: 0px 5px 5px;
    border-bottom: 1px solid #ddd;
    line-height: 24px;
    margin-bottom: 3px;
}

@media (min-width: 320px ) and (max-width: 800px) {
    .tour-details-card {
        background: #fff;
        min-height: 300px;
    }

    .tour-details-card.address-details {
        background: #fff;
        min-height: 180px !important;
    }

    .tour-details-card #booking-info-table > tbody > tr > td {
        padding: 5px !important;
    }
}

@media print {
    .tour-details-card {
        min-height: 300px;
    }

    .tour-details-card, .booking-short-desc, .invoice-bottom {
        width: 50%;
        float: left;
    }

    .tour-details-card #booking-info-table > tbody > tr > td {
        padding: 8px !important;
    }

    #booking-details-actions {
        display: none;
    }
}

div#booking-head {
    border: 1px solid #ddd;
    clear: both;
    height: 150px;
    padding: 15px 10px;
}

.tariff-price span {
    font-size: 24px;
}

.addon-box-form {
    display: inline-block;
    position: relative;
    text-align: center !important;
    width: 88px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    border-radius: 5px 5px 0px 0px;
    /*top: 45px;
     left: 23px; */
    z-index: 99999999999999;
}

input.numbers {
    width: 35px;
    text-align: center;
}

.add-b0x-form {
    display: inline-block;
    position: absolute;
}

.cart-short-summry {
    font-size: 10px;
    margin: 0px 0px 40px 0px;
    color: #ff6600;
    font-weight: 700;
}

.ui-datepicker td.checkRed span, .ui-datepicker td.checkRed a {
    background: #be2030 !important;
    color: #ffffff;
}

.ui-datepicker td.checkRed span:hover, .ui-datepicker td.checkRed a:hover {
    background: #ffffff !important;
    color: #be2030;
    border: 1px solid #5cb85c;
}

.main-slider-5 .sb-title {
    font-size: 18px !important;
    line-height: 20px !important;
}

.item-block.style-2 h3 {
    font-size: 18px !important;
}

.max-height-300 {
    height: 300px;
    max-height: 300px;
    overflow-y: scroll;
}

.cart-buttons {
    background: #F9F9F9;
    padding-top: 10px;
    border-top: 1px solid #3A3A3A;
    box-shadow: #3A3A3A;
}

.addon.btn.btn-primary {
    width: 89px;
}

.tour-details-card.address-details .hotel-person.color-dark-2 {
    font-size: 14px;
    line-height: 24px;
}

header.menu-3.scrol {
    background: rgba(255, 255, 255, 0.95);
    padding: 0px;
    z-index: 99999999999999;
    border-bottom: 1px solid #ddd;
}

.c-p-menu-color {
    color: #ff6600;
}

.custom_increase_button_size {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #31b0d5;
    color: #31b0d5;
}

.bg-4 {
    background: #31b0d5;
}

.mt {
    margin-top: 5% !important;
}

.p-0 {
    padding: 0;
}

.top95_breadcrumb {
    top: 95% !important;
}

.cus_heading {
    text-transform: none;
    font-size: 23px;
    letter-spacing: 0.5px;
}

.cus_index_heading {
    font-weight: 500;
    letter-spacing: normal;
}

.index_overlay {
    /* opacity: 1;*/
}

.tourView_textheading {
    height: 68px;
    overflow: hidden;
}

.rate-wrap.grid-hidden a img {
    width: 20px;
    margin: 10px;
}

.cursor-default-property {
    cursor: default !important;
}

header.color-1.hovered.menu-3 {
    background-color: #fff;
    background-image: url("https://s3-ap-southeast-1.amazonaws.com/tour-booking/logo/banner594df35d20587.png");
    background-size: cover;
}

.logo img {
    width: 280px;
    margin-top: 40px;
}

header.menu-3 .nav {
    margin-top: 25px;
}

.logo img {
    width: 280px;
    margin-top: 10px;
}

header.menu-3.hovered.scrol .logo {
    top: 40px;
    right: 0px;
    /* width: 261px; */
}

header.menu-3 .logo {
    top: 40px;
    right: 0px;
    /* width: 261px; */
}

.top-header-block.custom-cartfix {
    margin-top: 30px;
}

.menu-3 nav > ul > li {
    padding: 10px 10px;
}

header.menu-3 .nav {
    margin-top: 20px;
}

header.menu-3.hovered.scrol .nav {
    margin-top: 20px;
}

#top-bar {
    font-size: 12px;
    padding-top: 5px;
}

#top-bar .top-bar-contact {
    text-align: center;
    margin: 25px 10px;
    color: #fff;
}

span.sb-text.font-style-2.color-grey-3.top-bar-social {
    font-size: 17px;
    margin-left: 20px;
    clear: both;
    color: #fff;
}

span.sb-text.font-style-2.color-grey-3.top-bar-social a:hover {
    color: #be2030;
}

#top-bar a:hover, #top-bar a:visited {
    color: #be2030;
}

header.menu-3.hovered.scrol nav > ul > li {
    padding: 10px 5px;
}

header.menu-3 nav > ul > li {
    padding: 10px 5px;
}

.cart-popup {
    left: 0px;
}

#top-baner {
    height: 100%;
}

.cus_footer_design {

    background-image: linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(2, 0, 15, 0.3)), url("/theme/img/footer-bg.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
}

.cus_add_on_height {
    height: 100px;
    padding-top: 20px;
    text-transform: capitalize;
}

.top-baner {
    height: 600px !important;
}

.cus_tour_listing {
    bottom: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    width: 180px;
}

.cus_tour_listing_short_des {
    padding-bottom: 0px !important;
}

.cus_footer_certificate {
    float: left;
    margin-right: 10%;
}

.acc-body-block {
    border-bottom: none !important;
    margin-bottom: 20px;
}

.pages-text-transparent {
    background: rgba(0, 10, 10, 0.5) !important;
}

.pages-background-black {
    background: rgba(0, 10, 10, 1) !important;
}

.inner-banner.style-6 {
    height: 235px !important;

}

.inner-banner {
    position: relative;
    height: 235px !important;
    text-align: center;
}

.pages_content .acc-body, .accordian-faq .acc-body {
    color: #000000 !important;
}

.black-text {
    color: #000000 !important;
}

.quick_main_contact {
    margin-left: 15px;
    margin-top: -12px;
    width: 115px;
}

.cus_caraosl_main {
    color: #5381ba;
}

.swiper-wrapper {
    box-sizing: border-box;
}

@media only screen and (max-width: 515px) {
    .videx_design {
        height: 104px;
    }

    .top-baner {
        height: 160px !important;
    }

    .custom-cartfix {
        float: left;
    }

    .cus_menu_icon {
        margin-left: 10%;
        float: left;
    }

    .testi-3 {
        height: 390px;
        padding: 40px 0px 0px 0px;
    }

    .cus_carousal_respo {
        height: 160px;
    }

    .bg-dark.type-2 .copyright {
        text-align: center;
    }

    .bg-dark.type-2 .footer-link ul li {
        width: inherit;
    }

    header.color-1.hovered.menu-3 {
        background-color: #000 !important;
        background-image: none !important;
        background-size: cover;
    }

    .top-header-block a {
        color: #fff;
    }

}

.inner-banner.style-6 {
    height: 235px !important;
    /* margin-top: 0px; */
}

.addon-front-title {
    line-height: 2.5em;
    height: 2em;
    overflow: hidden;
    font-weight: bold;
    font-size: 11px;
    font-stretch: condensed;
}

.contact-info .contact-line {
    font-weight: normal !important;
}

.menu-3 nav > ul > li > .dropmenu {
    padding-left: 0px !important;
}

.login-fullpage {
    margin-top: 200px !important;
}

.modal-content {
    margin-top: 150px !important;
}

body[data-color="theme-1"] .c-button.hv-dr-blue-2-o:hover {
    border: 2px solid #ddd;
    color: #000;
    background-color: #dedede;
}

.inner-banner.style-2 {
    margin-top: 114px !important;
}

h2.detail-title.color-dark-2 {
    text-transform: capitalize !important;
}

ul.banner-breadcrumb.color-white, ul.order-summry {
    -webkit-padding-start: 0px !important;
}

.h3 {
    text-transform: inherit !important;
}

.second-title h2,
.footer-block h6,
.f_news-tilte,
.cus_caraosl_main h4,
.testi-wrap h4,
.f-login-title,
.banner-breadcrumb.color-white li,
.banner-breadcrumb.color-white li a,
h2, .subtitle, .simple-group h3 {
    text-transform: capitalize !important;
}

.c-p-menu-color {
    color: #be2030;
}

h1 {
    font-family: Helvetica67MdCn;
    color: #be2030;
    font-weight: 400;
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 0 10px;
}