body {
    font-family: "Century Gothic", Gadget, sans-serif;
    font-size: 11px;
    background: #ffffff;
    line-height: 1.5
}

table td {
    font-family: "Century Gothic", Gadget, sans-serif;
    font-size: 11px;
    line-height: 1.5em;
    padding: 10px;
}

table th {
    color: #ffffff;
}

h2 {
    font-size: 22px;
    font-weight: normal;
    color: #D11349;
    margin: 15px 0px 5px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    color: #002D5D;
    margin: 15px 0px;
}

h4 {
    font-size: 12px;
    font-weight: bold;
    color: #002D5D;
    margin: 15px 15px;
}

p {
    margin: 20px 0px;
    font-size: 11px;
}

.eventLabel, .eventValue {
    color: #002D5D;
    margin: 5px 0px;
    line-height: 1.5;
    font-size: 13px;
    font-weight: bold;
}

.eventValue {
    color: #D11349;
    font-weight: normal;
}

@media print {
    body {
        margin: 0mm auto;
        background: #ccc;
    }
}