.contactinfo-side p{
    font-family: Raleway-Medium;
    color: #1f3760 ;
    font-size: 14px;
}
.blueicon{
    color: #1f3760 !important;
    font-size: 50px !important;
}
.committee h5{
    padding-top: 20px;

}
.committee h3{
    font-size: 14px;
    font-family: Raleway-Medium;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;
}
.contactus h3{
    font-family: Raleway-SemiBold;
    color: #cd2c47 ;
    font-size: 20px;
    line-height: 1.5;
}
.contactus p{
    font-family: Raleway-Medium;
    color: #282828 ;
    font-size: 15px;
    line-height: 1.5;
}
.feedbackform h2{
    font-size: 14px;
    font-family: Raleway-Medium;
    padding-bottom: 30px;
}
select{
    padding: 10px !important;
    margin-bottom: 10px !important;
    height: 40px !important;
    font-size: 14px !important;
}
ul.quicklinks{
    font-size: 18px;
    font-family: Raleway-SemiBold;
    list-style-type: circle;
    padding-left: 30px;
}

@media screen and (max-width: 767px){
    .contentcenter{
        text-align: center;
    }
}