body{
    margin-top:40px;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
}
.btn-primary {
    width: 100%;
    color: #fff;
    background-color: #cd2c47 !important;
    border-color: #cd2c47 !important;
    border: 0 !important;
}
.btn-default{
    width: 100%;
    border: 0 !important;
    background: #1d355f;
    color: #ffffff;
}
a:focus, a:hover{
    color: #ffffff !important;
}
.btn-primary.focus, .btn-primary:focus{
    outline: 0 !important;
    -webkit-box-shadow:0 !important;
    box-shadow: none !important;
}
.Eventform{
    background: #f8f8f8;
}
.EventformPadding{
    padding-top: 50px;
    padding-bottom: 50px;
}
.Eventform h3{
    font-family: Raleway-SemiBold;
    font-size: 16px;
    color: #232323;
    padding-bottom: 15px;
    padding-top: 15px;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #bfbfbf !important;
    background: #fff !important;
}
.pricebox{
    border: 1px solid #bfbfbf !important;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Raleway-Medium;
}
.mybutn{
    line-height: 2 !important;
    font-size: 20px !important;
    font-family: Raleway-Medium;
}
.numberofguests{
    font-family: Raleway-SemiBold;
    font-size: 16px;
    color: #232323;
}

label {
    display: block;
    margin-bottom:0 !important;}
td.Redbg{
    background-color:#cd2c47 !important;
    color: #ffffff !important;
    font-family: Raleway-SemiBold;
    font-size: 20px;
    text-align: center !important;
    vertical-align: middle !important;
}
input[type="text"] , .selectbox{
    padding: 10px;
    margin-bottom: 10px;

}
.selectbox{
    width: 100% !important;
    padding: 10px !important;
    height: auto !important;
}
.Mybtn{
    font-family: Raleway-Medium;
    font-size: 16px;
    color: #ffffff;
    background: #1d355f;
    border: 0;
    padding: 10px;
}
.Mybtn:hover{
    font-family: Raleway-Medium;
    font-size: 16px;
    color: #ffffff;
    background: #cd2c47;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.delbtn{
    font-family: Raleway-Medium;
    font-size: 20px;
    color: #ffffff;
    background: #1d355f;
    border: 0;
    padding-right: 10px;
    padding-left: 10px;
}
.delbtn a , .Editbtn a{
    font-family: Raleway-Medium;
    font-size: 20px;
    color: #ffffff;
    border: 0;
}
.delbtn a:hover, .Editbtn a:hover{
    font-family: Raleway-Medium;
    font-size: 20px;
    color: #ffffff;
    border: 0;
}
.Editbtn{
    font-family: Raleway-Medium;
    font-size: 20px;
    color: #ffffff;
    background: #cd2c47;
    border: 0;
    padding-right: 10px;
    padding-left: 10px;
}

.Eventform h4{
    font-family: Raleway-SemiBold;
    font-size: 20px;
    color: #1d355f;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}
.ThankyouMsg{
    background: #ffffff;
    border: 1px solid  #bfbfbf;
    padding: 20px;
}

.table thead th{
    text-align: center !important;
    background: #1d355f !important;
    color: #ffffff;
}
.FinishBtn{
    padding-top: 15px;
}
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}