@media screen and (max-width: 767px) {

    .MainArea {
        padding-top: 10px !important;
        text-align: center !important;
    }

    .Main {
        padding-top: 10px !important;
        text-align: center !important;
    }

    .pull-right {
        float: none !important;
    }

    .CMessage {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        text-align: left !important;
    }

    .img100 {
        width: 100%;
    }

    .socialmedia {
        text-align: center !important;
    }

    .EventSearch {
        padding: 10px 0;
    }

    .Eventbtn {
        width: 100%;
    }

    .usertopdetail {
        padding-top: 50px;
    }

    .jobsPortalBtn {
        margin-bottom: 20px;
    }

    .MySearchBtn {
        margin-left: -41px !important;
    }

    .directorymember {
        padding-bottom: 20px !important;
    }

    .directorymember {
        height: auto !important;
    }

    .memberS {
        margin-top: 30px !important;
    }

    .MyAppLogo {
        width: 140px !important;
    }

    .SiteHeader {
        padding: 15px 0 !important;
    }

    #topHeaderSection {
        height: 100px !important;
    }

    .profile {
        text-align: left;
        margin-top: 12px;
    }

    .johnsImg {
        width: 100% !important;
    }

    .EventDetail, .DescriptionHeading, .SiteText {
        text-align: left !important;
    }

    .MemberLogin, .TopRightPhone {
        text-align: left !important;
    }

    .EventText p {
        text-align: left !important;
    }
}

@media screen and (max-width: 575px) {

    .LeftArea {
        padding-top: 100px;
    }

    .EventSearch {
        padding-top: 40px;
    }

    .usertopdetail {
        padding-top: 25px !important;
    }

    .jobsPortalBtn {
        margin-bottom: 20px;
    }

    .memberS {
        margin-top: 0px !important;
    }

    .CMessage {
        padding-top: 30px !important;

    }

    .johnsImg {
        width: 50% !important;
    }

    .MainArea {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .LeftArea {
        padding-top: 10px !important;
    }

    .MyAppLogo {
        width: 140px !important;
    }

    .SiteHeader {
        padding: 15px 0 !important;
    }

    #topHeaderSection {
        height: 100px !important;
    }

    .width90percent {
        width: 100% !important;
    }

    .Sendwidth90percent {
        width: 101% !important;
    }

    .editprofilebtn {
        text-align: left !important;
    }

    .profile {
        text-align: left;
        margin-top: 12px;
    }

    .PaddingTopBtm30px {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .darkbg {
        padding-top: 5px !important;
    }

    .chairmanmessage {
        background: #bd1f2f;
        padding-bottom: 30px !important;
    }

    .EventDetail, .DescriptionHeading, .SiteText {
        text-align: left !important;
    }

    .MemberLogin, .TopRightPhone {
        text-align: left !important;
    }

    .EventText p {
        text-align: left !important;
    }

}

.myvideolink iframe {
    width: 100% !important;
}

.SliderArea {
    padding-top: 22px;
}

@media screen and (max-width: 575px) {
    .SliderArea {
        padding-top: 0px !important;
    }
}

@media screen and (max-width: 767px) {
    .SliderArea {
        padding-top: 10px !important;
        text-align: center !important;
    }
}
@media screen and (max-width: 375px) {
    .SliderArea {
        padding-top: 60px !important;
        text-align: center !important;
    }
}
.home_slider{
    text-align: -webkit-center;
    display: table !important;
    margin: auto !important;
}
.home_slider_listbox{
    display:table-cell;
}