
.tab-content {
    min-height: 500px;
}

.tab.active {
    background-color: #5fbeaa !important;
}

.nav.nav-tabs > li.tab.active > a:hover, .nav.tabs-vertical > li > a {
    font-size: 14px;
    color: #ffffff;
}

.nav.nav-tabs > li.tab.active > a:hover, .nav.tabs-vertical > li > a:hover {
    color: #ffffff !important;
    font-size: 16px;
}

.nav.nav-tabs > li.tab.active > a, .nav.tabs-vertical > li.tab.active > a {
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: #ffffff !important;
    cursor: pointer;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 0.03em;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.nav.nav-tabs > li.tab.active > a .number {
    background: darkseagreen;
    padding: 7px 14px;
    border-radius: 20px;
    margin-right: 15px;
}

.number {
    margin-right: 15px;
}

.indicator {
    display: none;
}

.boxed {
    background: #f1f1f1;
    border: 1px solid #ddd;
    padding: 5px 20px;
    margin-bottom: 10px;
}

div#booking-head {
    border: 1px solid #ddd;
    clear: both;
    height: 180px;
    padding: 15px 10px;
}

.tour-details-card {
    background: #fff;
    border: 1px solid #ddd;
    min-height: 230px;
    padding: 5px;
    margin-top: 15px;
}

.tour-details-card .title {
    padding: 15px 10px;
}

.tour-details-card-icon {
    padding: 0px;
    margin: 0px !important;
    width: 200px;
    float: left;
    height: 150px;
    padding: 3px;

}

.tour-details-card .tour-info {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-top: 10px;
    clear: both;
}

.help-contact .help-phone {
    margin-bottom: 15px;
}

.help-contact h4 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.booking-short-desc p {
    line-height: 14px;
}

.addons-list {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.tour-details-card .hotel-person.color-dark-2 {
    font-size: 14px;
    line-height: 30px;
}

.tour-details-card .addons-desc {
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    margin-top: 10px;
}

.tour-details-card #booking-info-table {
    margin-top: 30px;
}

.tour-details-card #booking-info-table > tbody > tr > td {
    padding: 5px !important;
}

#invoice-bottom-section {
    margin-top: 30px;
}

#user-dashboard-menu a {
    padding: 0px 5px 5px;
    border-bottom: 1px solid #ddd;
    line-height: 24px;
    margin-bottom: 3px;
}

@media (min-width: 320px ) and (max-width: 800px) {
    .tour-details-card {
        background: #fff;
        min-height: 300px;
    }

    .tour-details-card #booking-info-table > tbody > tr > td {
        padding: 5px !important;
    }
}

@media print {
    .tour-details-card {
        min-height: 300px;
    }

    .tour-details-card, .booking-short-desc, .invoice-bottom {
        width: 50%;
        float: left;
    }

    .tour-details-card #booking-info-table > tbody > tr > td {
        padding: 8px !important;
    }
}

#booking-tabs .panel-heading {
    padding-left: 0px;
}

/** Custom modal box **/
.modal .modal-dialog .modal-content {
    padding: 15px !important;
    border-radius: 10px !important;
}

#modalHeader h4 {
    font-size: 30px;
}

.disabledcontent {
    pointer-events: none;
    opacity: 0.4;
    border: 2px solid #ff6347;
    box-shadow: 0 3px 5px 1px #ff6347;
}

.tour-details-card-admin {
    min-height: 320px !important;
}

.select2-container--krajee .select2-selection--multiple .select2-search--inline .select2-search__field {
    height: 45px;
}

.select2-container--krajee .select2-selection--single {
    height: 45px;
    padding: 10px 24px 6px 12px;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow {
    height: 45px;
    top: 0px;
    right: 1px;
    width: 35px;
}

.addon-box.pull-left {
    width: 90px;
    margin: 0px auto;
}

.ui-datepicker td.checkRed span, .ui-datepicker td.checkRed a {
    background: #5cb85c !important;
    color: #ffffff;
}

.ui-datepicker td.checkRed span:hover, .ui-datepicker td.checkRed a:hover {
    background: #ffffff !important;
    color: #5cb85c;
    border: 1px solid #5cb85c;
}

.price_card .pacakge-title {
    display: block;
    font-size: 22px;
    font-weight: 700;
    padding: 32px 0 30px;
    text-align: center;
    width: 100%;
}

.tariff-content {
    background: #F9F9F9;
    margin-bottom: 10px;
    padding-bottom: 10px !important;
    border: 1px solid #a3a3a3;
}

.tariff-header {
    background: #3A3A3A !important;
}

.active-tariff .tariff-header {
    background: #ff6600 !important;
}

.active-tariff .tariff-content {
    background: #ff6600 !important;
}

.active-tariff .tariff-content .price {
    color: #fff;
}

.tariff {
    cursor: pointer;
}

.tariff-content .price {
    font-size: 32px;
}

.active-tariff .badge {
    position: absolute;
    left: 15px;
    top: 0px;
    /*padding: 25px 35px;*/
    padding: 5px;
    border-radius: 0px;
    font-size: 24px;
    background: transparent;
}

.tariff.price_card.text-center {
    padding-bottom: 0px;
}

.check {
    color: #fff !important;
    background: #ff6600 !important;
    border: none;
}

.addons-boxes .addon-box {
    float: left;
    width: 100px;
    margin: 1px;
}

.addon-box .title {
    padding: 0px;
    text-align: center;
    text-transform: capitalize;
}

.addon-box img {
    max-height: 50px;
    height: 50px;
    overflow: hidden;
}

.addon-box .price {
    padding: 0px;
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
}

.add-b0x-form {
    display: inline-block;
    position: absolute;
}

.addon-box-form {
    display: inline-block;
    position: relative;
    text-align: center !important;
    width: 88px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    border-radius: 5px 5px 0px 0px;
    z-index: 99999999999999;
}

input.numbers {
    width: 35px;
    text-align: center;
    background: transparent;
}

.addon.btn.btn-primary {
    width: 88px;
}

.addons-boxes .addon-box {
    float: left;
    width: 130px;
    margin: 1px;
}

.select-tours {
    position: relative;
    border: 1px solid #ddd;
}

.wizard.admin-tour-booking > .steps > ul > li {
    width: 20%;
}

.product-list-box.thumb.addons {
    height: auto;
    border: 1px solid #000 !important;
    margin: 5px 0 !important;
    padding: 0;
}

.product-list-box img {
    width: 100%;
    max-width: 100%;
}

.hide-tour {
    opacity: 0.5;
    pointer-events: none;
    display: none;
}

.actions-destinations {
    position: relative;
    top: -15px;
    right: -7px;
}

.mobiles.addon.pull-left {
    background: #fff !important;
}

.product-list-box.thumb.addons .detail {
    background: #fff !important;

}

.selected-tours.card-box {
    border: 1px solid #ddd;
}

#destination-view {
    max-height: 550px;
    overflow-x: hidden;
    overflow-y: visible;
}

/*
 *  STYLE 11
 */

#destination-view::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#destination-view::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#destination-view::-webkit-scrollbar-thumb {
    background-color: #3366FF;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(0deg,
    rgba(255, 255, 255, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    transparent 75%,
    transparent)
}

.tours-destinations label {
    width: 100% !important;
}

.mobiles.addon.pull-left {
    background: #fff !important;
}

.product-list-box.thumb.addons .detail {
    background: #fff !important;

}

.selected-tours.card-box {
    border: 1px solid #ddd;
}

#destination-view {
    max-height: 550px;
    overflow-x: hidden;
    overflow-y: visible;
}

/*
 *  STYLE 11
 */

#destination-view::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#destination-view::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#destination-view::-webkit-scrollbar-thumb {
    background-color: #3366FF;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(0deg,
    rgba(255, 255, 255, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    transparent 75%,
    transparent)
}

.tours-destinations label {
    width: 100% !important;
}

.dashboard_latest_bookings {
    height: 417px;
    overflow-y: scroll;
}

.dashboard_latest_bookings .summary {
    display: none;
}

.border-right-list {
    border-right: 1px solid #ddd;
}

.color-red {
    color: red;
}

.product-list-box .detail {
    background: #f4f8fb;
    padding: 20px;
    margin: 0;
}

.new-booking .thumb {
    padding: 0 !important;
}

.new-booking .rating {
    position: absolute;
    top: 0;
    background: #f9f9f9;
    padding: 2px 5px;
    opacity: 0.6;
}

.bottom-btn .btn {
    border-radius: 0;
}

.max-height-300 {
    height: 300px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.checkout-box #contact-list {
    margin: 0 -10px;
}

.checkout-box #contact-list li {
    border-left: 0;
    border-right: 0;
}

.checkout-box #contact-list li .img-circle {
    border-radius: 0;
}

.checkout-box .heading {
    background: #f4f8fb;
    margin: -20px -20px 0 -20px;
    padding: 10px;
}

.checkout-box .payment-block {
    background: #f9f9f9;
    margin: 20px -20px -20px -20px;
    padding: 10px;
}

.nav.nav-tabs + .tab-content {
    padding: 5px;
}

.checkout-box .total-sum {
    background: #f2f2f2;
    margin: -1px -20px -20px -20px;
    padding: 10px;
}

.yii-debug-toolbar__bar {
    display: none;
}

.available-packages .panel-pricing {
    border: 2px solid #F9F9F9;
    cursor: pointer;
}

.available-packages .active {
    border: 2px solid green;
    background: #F9F9F9;
}

.available-addons .addon-block {
    border: 2px solid #F9F9F9;
    cursor: pointer;
}

.available-addons .active {
    border: 2px solid green;
    background: #F9F9F9;
}

.category-tour {
    position: absolute;
    top: 0;
    background: #f9f9f9;
    padding: 2px 5px;
    opacity: 0.6;
    right: 0;
    color: red;
}

div.addon-block .photo {
    width: 50px;
    text-align: center;
    margin: 5px auto;
}

.ui-datepicker td.checkRed span, .ui-datepicker td.checkRed a {
    background: #5cb85c !important;
    color: #ffffff;
}

.ui-datepicker td.checkRed span:hover, .ui-datepicker td.checkRed a:hover {
    background: #ffffff !important;
    color: #5cb85c;
    border: 1px solid #5cb85c;
}

#exclisivePrice {
    width: 100px;
    height: 30px;
    margin: 5px auto;
}

.addon-block .price {
    padding: 5px 0 10px;
}

.small-heading {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.price_on_backend_cart {
    margin-right: 20px;
    margin-top: 25px;
}

#exclisivePrice {
    width: 100px;
    height: 30px;
    margin: 5px auto;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #be2030;
    border-color: #be2030;
}

.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    background-color: #be2030 !important;
    border: 1px solid #be2030 !important;
}

.btn.btn-success {
    background-color: #be2030 !important;
    border: 1px solid #be2030 !important;
}

#sidebar-menu ul ul a:hover, .text-custom {
    color: #be2030 !important;
}

#sidebar-menu > ul > li > a:hover {
    color: #be2030 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .tabs-vertical > li.active > a, .tabs-vertical > li.active > a:focus, .tabs-vertical > li.active > a:hover {
    color: #be2030 !important;
}

.panel-success > .panel-heading, .panel-success > .panel-heading h5 {
    color: #ffffff !important;
    background-color: #be2030 !important;
    border-color: #be2030 !important;
}

.available-packages .active {
    border: 2px solid #be2030;
    background: #F9F9F9;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li.active a {
    color: #be2030;
}

.tab.active {
    background-color: #be2030 !important;
}

.btn-info, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open > .dropdown-toggle.btn-info {
    background-color: #be2030 !important;
    border: 1px solid #be2030 !important;
}

.margin-left-10 {
    margin-left: 10px;
}

.available-addons .active {
    border: 2px solid #be2030;
}

.content-page {
    /* background-color: #ffffff;*/
}

h1, h2, h3 {
    color: #be2030;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 10px 0;
}

.custom_color {
    color: #be2030;
}

.text-blue {
    color: #1e3560 !important;
}

.pt10 {
    padding-top: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.memberBadge {
    border: solid 1px #ccc;
    width: 446px;
    text-align: center;
}

.modal-lg {
    width: 945px;
}

.m-t-25{
    margin-top: 25px !important;
}

.text-red {
    color: #be2030 !important;
}

.custom_success_btn{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.checkbox-margin {
    padding-top: 35px;
}

a span.label-info.label,
a span.label-warning.label,
a span.label-success.label,
a span.label-danger.label,
a span.label-primary.label{
    display: block !important;
    margin: 1px !important;
}

@media (max-width: 767px) {
    a span.label-info.label,
    a span.label-warning.label,
    a span.label-success.label,
    a span.label-danger.label,
    a span.label-primary.label{
        display: inline-block !important;
        margin: 1px !important;
    }
}