.slimScrollDiv, .sidebar-inner.slimscrollleft{
    max-height: 900px;
}

.side-menu, #sidebar-menu{
    overflow: auto !important;
}

#sidebar-menu ul ul a {
    color: #75798B;
    display: block;
    padding: 10px 20px 10px 35px;
}

.breadcrumb {
    float: right;
}
.page-title {
    float: left;
}

.customer-profile .tab-content {
    padding: 30px 5px 30px 5px !important;
}
.customer-profile .tabs-vertical-env .tab-content {
    padding: 0px !important;
}

.btn {
    padding: 10px 20px;
}

.btn-full-width {
    width: 100%;
}

.max-hight-300 {
    max-height: 300px;
    overflow-y: auto;
}

.images-table img {
    width: 100px;
}

.btn-rounded {
    border-radius: 15px !important;
    padding: 10px 20px !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 12px 8px;
    /*white-space: nowrap !important;*/
}

.custombox-modal-wrapper {
    text-align: left;
}
.properties-list {
    max-height: 300px;
    overflow-y: auto;
    padding: 5px 20px;
}
.border-right {
    border-right: 1px solid #f9f9f9;
}
.model-footer {
    border-top: 1px solid #f9f9f9;
    padding-top: 15px;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px !important;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px !important;
}

.height-635 {
    min-height: 635px;
    height: 635px;
}

.height-500 {
    min-height: 500px;
    height: 500px;
}

.scrol-box {
    overflow-y: auto;
}

.panel .panel-body {
    padding-bottom: 0 !important;
}

.panel-button {
    background: #f9f9f9;
    margin: 0px -20px 0px -20px;
}

.column-selection-modal .all-properties .propertyItem.selected, ul.group-list li.selected{
    background: #36404a !important;
    color: #FFFFFF;
}

ul.group-list li.selected a{
    color: #FFFFFF;
}

ul.group-list li a{
    color: #797979;
}

.column-selection-modal .propertyItem:hover, ul.group-list li:hover{
    background-color: #fbfbfb;
}
.column-selection-modal .propertyItem, ul.group-list li{
    border-bottom: 1px #eee solid;
    text-transform: uppercase;
}

ul.group-list li .fa.fa-times{
    display: none;
}

ul.group-list li:hover .fa.fa-times{
    display: block;
}

.report-property, ul.group-list li{
    padding: 5px 10px;
    cursor: pointer;
}

ul.group-list li{
    list-style: none;
}

ul.group-list{
    margin: 0;
    padding:0 0 20px 0;
}

.bold{
    font-weight:bold;
}

